<a href="https://colab.research.google.com/github/TharinduGee/Prediction_Models/blob/main/Carbon_Emission_Predictor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Prediction model of the carbon emmision of vehicle by their model data 
we can use data of US envirionment protecting agency to this project
First we should fetch data from link https://www.epa.gov/system/files/documents/2022-04/22-tstcar-2022-04-15.xlsx

In [ ]:
import numpy as np;
import pandas as pd;
import matplotlib as plt;
import tensorflow as tf;

In [ ]:
record = pd.read_excel('https://www.epa.gov/system/files/documents/2022-04/22-tstcar-2022-04-15.xlsx');

In [ ]:
record.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4397 entries, 0 to 4396
Data columns (total 67 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Model Year                      4397 non-null   int64
 1   Vehicle Manufacturer Name       4397 non-null   object
 2   Veh Mfr Code                    4397 non-null   object
 3   Represented Test Veh Make       4397 non-null   object
 4   Represented Test Veh Model      4397 non-null   object
 5   Test Vehicle ID                 4397 non-null   object
 6   Test Veh Configuration #        4397 non-null   int64
 7   Test Veh Displacement (L)       4397 non-null   float64
 8   Actual Tested Testgroup         4397 non-null   object
 9   Vehicle Type                    4397 non-null   object
 10  Rated Horsepower                4397 non-null   int64
 11  # of Cylinders and Rotors       4133 non-null   float64
 12  Engine Code                     4397 non-null   object
 13  Tested Transmission Type Code   4397 non-null   object
 14  Tested Transmission Type        4397 non-null   object
 15  # of Gears                      4397 non-null   int64
 16  Transmission Lockup?            4397 non-null   object
 17  Drive System Code               4397 non-null   object
 18  Drive System Description        4397 non-null   object
 19  Transmission Overdrive Code     4397 non-null   int64
 20  Transmission Overdrive Desc     4397 non-null   object
 21  Equivalent Test Weight (lbs.)   4397 non-null   int64
 22  Axle Ratio                      4397 non-null   float64
 23  N/V Ratio                       4397 non-null   float64
 24  Shift Indicator Light Use Cd    4397 non-null   int64
 25  Shift Indicator Light Use Desc  4397 non-null   object
 26  Test Number                     4397 non-null   object
 27  Test Originator                 4397 non-null   object
 28  Analytically Derived FE?        4397 non-null   object
 29  ADFE Test Number                666 non-null    object
 30  ADFE Total Road Load HP         666 non-null    float64
 31  ADFE Equiv. Test Weight (lbs.)  666 non-null    float64
 32  ADFE N/V Ratio                  666 non-null    float64
 33  Test Procedure Cd               4397 non-null   int64
 34  Test Procedure Description      4397 non-null   object
 35  Test Fuel Type Cd               4397 non-null   int64
 36  Test Fuel Type Description      4397 non-null   object
 37  Test Category                   4397 non-null   object
 38  THC (g/mi)                      3598 non-null   float64
 39  CO (g/mi)                       3614 non-null   float64
 40  CO2 (g/mi)                      4028 non-null   float64
 41  NOx (g/mi)                      3600 non-null   float64
 42  PM (g/mi)                       674 non-null    float64
 43  CH4 (g/mi)                      3319 non-null   float64
 44  N2O (g/mi)                      2249 non-null   float64
 45  RND_ADJ_FE                      4276 non-null   float64
 46  FE_UNIT                         4397 non-null   object
 47  FE Bag 1                        2065 non-null   float64
 48  FE Bag 2                        2065 non-null   float64
 49  FE Bag 3                        1636 non-null   float64
 50  FE Bag 4                        226 non-null    float64
 51  DT-Inertia Work Ratio Rating    4053 non-null   float64
 52  DT-Absolute Speed Change Ratg   4053 non-null   float64
 53  DT-Energy Economy Rating        4053 non-null   float64
 54  Target Coef A (lbf)             4397 non-null   float64
 55  Target Coef B (lbf/mph)         4397 non-null   float64
 56  Target Coef C (lbf/mph**2)      4397 non-null   float64
 57  Set Coef A (lbf)                4397 non-null   float64
 58  Set Coef B (lbf/mph)            4397 non-null   float64
 59  Set Coef C (lbf/mph**2)         4397 non-null   float64
 60  Aftertreatment Device Cd        4133 non-null   object
 61  Aftertreatment Device Desc      4133 non-null   object
 62  Police - Emergency Vehicle?     4397 non-null   object
 63  Averaging Group ID              68 non-null     object
 64  Averaging Weighting Factor      68 non-null     float64
 65  Averaging Method Cd             4397 non-null   object
 66  Averging Method Desc            4397 non-null   object
dtypes: float64(29), int64(9), object(29)
memory usage: 2.2+ MB

As the second step we should do data preprocessing before train data.

In [ ]:
for i in record.columns:
  print(record[i].name , record[i].isna().sum())

Model Year 0
Vehicle Manufacturer Name 0
Veh Mfr Code 0
Represented Test Veh Make 0
Represented Test Veh Model 0
Test Vehicle ID 0
Test Veh Configuration # 0
Test Veh Displacement (L) 0
Actual Tested Testgroup 0
Vehicle Type 0
Rated Horsepower 0
# of Cylinders and Rotors 264
Engine Code 0
Tested Transmission Type Code 0
Tested Transmission Type 0
# of Gears 0
Transmission Lockup? 0
Drive System Code 0
Drive System Description 0
Transmission Overdrive Code 0
Transmission Overdrive Desc 0
Equivalent Test Weight (lbs.) 0
Axle Ratio 0
N/V Ratio 0
Shift Indicator Light Use Cd 0
Shift Indicator Light Use Desc 0
Test Number 0
Test Originator 0
Analytically Derived FE? 0
ADFE Test Number 3731
ADFE Total Road Load HP 3731
ADFE Equiv. Test Weight (lbs.) 3731
ADFE N/V Ratio 3731
Test Procedure Cd 0
Test Procedure Description 0
Test Fuel Type Cd 0
Test Fuel Type Description 0
Test Category 0
THC (g/mi) 799
CO (g/mi) 783
CO2 (g/mi) 369
NOx (g/mi) 797
PM (g/mi) 3723
CH4 (g/mi) 1078
N2O (g/mi) 2148
RND_ADJ_FE 121
FE_UNIT 0
FE Bag 1 2332
FE Bag 2 2332
FE Bag 3 2761
FE Bag 4 4171
DT-Inertia Work Ratio Rating 344
DT-Absolute Speed Change Ratg 344
DT-Energy Economy Rating 344
Target Coef A (lbf) 0
Target Coef B (lbf/mph) 0
Target Coef C (lbf/mph**2) 0
Set Coef A (lbf) 0
Set Coef B (lbf/mph) 0
Set Coef C (lbf/mph**2) 0
Aftertreatment Device Cd 264
Aftertreatment Device Desc 264
Police - Emergency Vehicle? 0
Averaging Group ID 4329
Averaging Weighting Factor 4329
Averaging Method Cd 0
Averging Method Desc 0

In [ ]:
for i in record[["Vehicle Manufacturer Name","Vehicle Type","Rated Horsepower","# of Cylinders and Rotors","Tested Transmission Type","# of Gears","Test Procedure Cd","CO2 (g/mi)"]]:
  print(record[i].name , record[i].isna().sum())

Vehicle Manufacturer Name 0
Vehicle Type 0
Rated Horsepower 0
# of Cylinders and Rotors 264
Tested Transmission Type 0
# of Gears 0
Test Procedure Cd 0
CO2 (g/mi) 369

In [ ]:
for i in record[["Vehicle Manufacturer Name","Vehicle Type","Rated Horsepower","# of Cylinders and Rotors","Tested Transmission Type","# of Gears","Test Procedure Cd","CO2 (g/mi)"]]:
  print(record[i].value_counts())

GM                      624
FOMOCO                  491
Toyota                  483
BMW                     378
Volkswagen Group of     365
Hyundai                 350
FCA US LLC              270
Kia                     207
Nissan                  202
Porsche                 165
Honda                   164
Mercedes-Benz           124
Jaguar Land Rover L     115
Subaru                  103
Volvo                    66
Ferrari                  64
Tesla                    58
MAZDA                    40
Mitsubishi Motors Co     38
McLaren Automotive       27
Maserati                 22
Lucid USA, Inc           12
Rivian Automotive L       8
Rolls-Royce               8
aston martin              8
Karma Automotive, L       5
Name: Vehicle Manufacturer Name, dtype: int64
Car      1949
Truck    1888
Both      560
Name: Vehicle Type, dtype: int64
355    258
400    180
270    106
300    101
177     87
      ...
631      2
620      2
409      2
321      2
316      2
Name: Rated Horsepower, Length: 232, dtype: int64
4.0     1994
6.0     1168
8.0      782
3.0       94
12.0      48
10.0      30
5.0       10
16.0       7
Name: # of Cylinders and Rotors, dtype: int64
Semi-Automatic                                                       1529
Automatic                                                            1253
Continuously Variable                                                 499
Automated Manual- Selectable (e.g. Automated Manual with paddles)     491
Manual                                                                239
Selectable Continuously Variable (e.g. CVT with paddles)              222
Automated Manual                                                       82
Other                                                                  82
Name: Tested Transmission Type, dtype: int64
8     1556
1      860
10     738
6      498
7      411
9      284
5       26
2       24
Name: # of Gears, dtype: int64
3     1576
21    1192
90     411
31     312
95     273
11     250
81     153
84     152
2       64
86      10
83       2
85       2
Name: Test Procedure Cd, dtype: int64
221.000000    8
329.000000    8
369.000000    8
269.000000    8
370.000000    7
             ..
547.096000    1
654.327000    1
349.900000    1
352.700000    1
227.449936    1
Name: CO2 (g/mi), Length: 3113, dtype: int64

In [ ]:
new_record = record[["Vehicle Manufacturer Name","Vehicle Type","Rated Horsepower","# of Cylinders and Rotors","Tested Transmission Type","# of Gears","Test Procedure Cd","CO2 (g/mi)"]]
new_record.dropna(how='all',axis = 'rows')

,Vehicle Manufacturer Name,Vehicle Type,Rated Horsepower,# of Cylinders and Rotors,Tested Transmission Type,# of Gears,Test Procedure Cd,CO2 (g/mi)
0,aston martin,Car,503,8.0,Semi-Automatic,8,21,386.660000
1,aston martin,Car,503,8.0,Semi-Automatic,8,3,259.740000
2,aston martin,Car,715,12.0,Semi-Automatic,8,21,499.690000
3,aston martin,Car,715,12.0,Semi-Automatic,8,3,290.250000
4,aston martin,Both,550,8.0,Automatic,9,21,521.260000
...,...,...,...,...,...,...,...,...
4392,Volvo,Both,312,4.0,Semi-Automatic,8,31,257.000000
4393,Volvo,Both,312,4.0,Semi-Automatic,8,81,NaN
4394,Volvo,Both,312,4.0,Semi-Automatic,8,84,NaN
4395,Volvo,Both,312,4.0,Semi-Automatic,8,21,268.406342
4396,Volvo,Both,312,4.0,Semi-Automatic,8,3,227.449936

In [ ]:
new_record.fillna(method = 'ffill', axis = 'rows')

,Vehicle Manufacturer Name,Vehicle Type,Rated Horsepower,# of Cylinders and Rotors,Tested Transmission Type,# of Gears,Test Procedure Cd,CO2 (g/mi)
0,aston martin,Car,503,8.0,Semi-Automatic,8,21,386.660000
1,aston martin,Car,503,8.0,Semi-Automatic,8,3,259.740000
2,aston martin,Car,715,12.0,Semi-Automatic,8,21,499.690000
3,aston martin,Car,715,12.0,Semi-Automatic,8,3,290.250000
4,aston martin,Both,550,8.0,Automatic,9,21,521.260000
...,...,...,...,...,...,...,...,...
4392,Volvo,Both,312,4.0,Semi-Automatic,8,31,257.000000
4393,Volvo,Both,312,4.0,Semi-Automatic,8,81,257.000000
4394,Volvo,Both,312,4.0,Semi-Automatic,8,84,257.000000
4395,Volvo,Both,312,4.0,Semi-Automatic,8,21,268.406342
4396,Volvo,Both,312,4.0,Semi-Automatic,8,3,227.449936

Now, we should split data to the train and test.:

In [ ]:

train_data.iloc(:3000)
test_data.iloc(3000:)

AttributeError: ignored